<form action="{{ path("home_search") }}" method="post">
    <label for="dt_debut">
        Date début
    </label>
    <input type="datetime-local" name="dt_debut" id="dt_debut" required>
    <label for="dt_fin">
        Date fin
    </label>
    <input type="datetime-local" name="dt_fin" id="dt_fin" required>
    <input type="submit" value="rechercher">
</form>