{% extends "base.html.twig" %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<img src="https://th.bing.com/th/id/R.707fce52c028839abd827f84dc5c2e44?rik=kmRT8txIEIK6xA&riu=http%3a%2f%2fvolvocar-yamaguchi.com%2fmailservice%2fimages%2ftitle.jpg&ehk=3LTxjgyRPZ%2f1w2gYxdh9A0mPQ46VOwwpkLOKxmJEEfo%3d&risl=&pid=ImgRaw&r=0" alt="" class="img-fluid">
<div class="d-flex justify-content-center">
    {% include "commun/form-search.html.twig" %}
</div>

{% endblock %}